<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Features -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Default"
        android:supportsRtl="true">

        <activity
            android:name=".UpdateEvent"
            android:exported="false"
            android:parentActivityName=".EventDisplayHome"
            android:label="Update Event"/>

        <activity
            android:name=".NewEvent"
            android:exported="false"
            android:parentActivityName=".EventDisplayHome"
            android:label="New Event"/>

        <activity
            android:name=".EventDisplayHome"
            android:exported="false"
            android:label="My Events"/>

        <activity
            android:name=".UserRegistration"
            android:exported="false"
            android:parentActivityName=".UserLoginMain"
            android:label="Register"/>

        <activity
            android:name=".UserLoginMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".EventNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.csportfolio.eventtrackingapp.ACTION_NOTIFY_EVENT"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>